 .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .spacer {
    flex: 1;
  }

  .dot-green {
    height: 10px;
    width: 10px;
    background-color: #27ca27;
    border-radius: 50%;
    display: inline-block;
}
  .dot-red {
    height: 10px;
    width: 10px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
}
